/*
* Progressive Enhacement and Graseful Degradation 
*/

/***********
     a
***********/
a {
    text-decoration: none;
    color: white;
}
/***********
     b
***********/

body{
    font-family: Arial, Helvetica, sans-serif;
  }


/***********
     c
***********/

/***********
     d
***********/

/***********
     f
***********/

/***********
     g
***********/

/***********
     h
***********/
#header{
    background-color: #0D7F6C;
    height: 200px;
}

h1{
    color: white;
}
/***********
     i
***********/

/***********
     l
***********/

/***********
     m
***********/
.menu li{
    list-style: none;
}
/***********
     p
***********/

/***********
     u
***********/

/***********
     v
***********/